<div class="nav-sidebar">
    <div class="nav-wrapper">
        <button @onclick='()=>GotoRoute(Menu.Search)' type="button" class="@(currentMenu == Menu.Search ? "selected-nav":"") btn-none navbtn icon-color">
            <SearchIcon Height="23" Width="23" />
        </button>
        <button @onclick='()=>GotoRoute(Menu.BookList)' type="button" class="@(currentMenu == Menu.BookList ? "selected-nav":"") btn-none navbtn icon-color">
            <BookIcon Height="20" Width="20" />
        </button>
        <button @onclick='()=>GotoRoute(Menu.Favourite)' type="button" class="@(currentMenu == Menu.Favourite ? "selected-nav":"") btn-none navbtn icon-color">
            <HeartIcon Height="20" Width="20" />
        </button>
        <button @onclick='()=>GotoRoute(Menu.Contact)' type="button" class="@(currentMenu == Menu.Contact ? "selected-nav":"") btn-none navbtn icon-color">
            <ContactIcon Height="23" Width="23" />
        </button>
        <button @onclick='()=>GotoRoute(Menu.Userinfo)' type="button" class="@(currentMenu == Menu.Userinfo ? "selected-nav":"") btn-none navbtn icon-color">
            @if (!string.IsNullOrEmpty(Gva.AuthInfo?.image_url))
            {
                <img class="nav-user-img" src="@Gva.AuthInfo.image_url" loading="lazy" alt="image" onerror="this.onerror=null; this.src='image/errorimage.png';" />
            }
            else
            {
                <PersonIcon Height="23" Width="23" />
            }
        </button>
        @* <button @onclick='()=>GotoRoute(CurrnetMenu.Download)' type="button" class="@(currentMenu == CurrnetMenu.Download ? "selected-nav":"") btn-none navbtn icon-color">
        <MSC.Icons.DownloadIcon Height="25" Width="25" />
        </button> *@
        <div class="nav-pad"></div>
    </div>
    <div class="applogo-box">@SVGService.AppLogo(60, 60)</div>
</div>

@code {
    private string currentMenu = Menu.BookList;

    protected override void OnInitialized()
    {
        NotifierService.Notify += ReceivedEmit;
    }

    private void ReceivedEmit(string emitName, string action, object? recivedData)
    {
        if (emitName == NotifierEmitNames.ProfileChange)
        {
            StateHasChanged();
        }
    }

    private void GotoRoute(string route)
    {
        Navigation.NavigateTo(route);
        currentMenu = route;
    }
}